<div style="display: flex; margin-bottom: 10px">
<div class="input-group" style="width: 40%">
    <select class="form-control category-type">
        <option value="sales">Sales</option>
        <option value="cost of goods">Cost of Goods</option>
        <option value="margin">Margin/Markup</option>
        <option value="taxes">Taxes</option>
        <option value="discounts">Discounts</option>
        <option value="commissions">Commissions</option>
        <option value="expenses">Other Expenses</option>
        <option value="incomes">Other Incomes</option>
    </select>  
</div> 
<div class="input-group" style="width : 60%">
    <input type="text" class="form-control product-search" placeholder="Search Products">
</div>
</div>