<div class="form-group label-group">
    <p class="warning">Only change these settings if you are sure of what you are doing!</p>
    <div class="input-group">
        <div class="input-group-addon required">Operation Mode</div>
        <select id="operation_mode" class="form-control">
            <option value="server">Server</option>
            <option value="client">Client</option>
        </select>
    </div>

    <div class="input-group">
        <div class="input-group-addon required">Server IP</div>
        <input type="text" class="form-control" id="server_ip" placeholder="e.g 192.168.0.1">
    </div>

    <div class="input-group">
        <div class="input-group-addon required">Printer</div>
        <select id="available_printers" class="form-control"></select>
    </div>

    <div class="input-group">
        <div class="input-group-addon required">Client Name</div>
        <input type="text" class="form-control" id="client_name" placeholder="Client Name">
    </div>

    <div class="input-group">
        <div class="input-group-addon required">Client IP</div>
        <input type="text" class="form-control" id="client_ip" placeholder="Client IP" readonly="readonly">
    </div>
</div>