<div class="card">
    <h3>Graphs</h3>
    <div id="error_space_admin" class="error" ></div>
    <hr/>

     <div class="graph-date-container">
         
         <div class="input-group small-group">
             <div class="input-group-addon">Start Date</div>
             <input type="date" class="form-control graph-text" id="start_date" readonly="readonly">    
         </div>
         
         <div class="input-group small-group">
             <div class="input-group-addon">End Date</div>
             <input type="date" class="form-control graph-text" id="end_date" readonly="readonly">    
         </div>
         
         <input type="button" class="btn" id="y_btn" value="Y Axis Data">
    </div>
     <hr>
    <div id="graph_area">
    

    </div>

</div>