<div class="card" id="products_card">
    <h3>Products</h3>
    <div class="input-group">
        <input type="text" class="form-control" id="search_products" placeholder="Search Products" style="width: 80%">
        <select id="product_categories" style="width: 20%" class="form-control"></select>
        <div class="input-group-addon search" id="search_link">
            <img src="img/search.png" alt="Search Products" > 
        </div>
    </div>
    
    <div id="error_space_admin" class="error" ></div>
    <div >
        <img src="img/excel.png" alt="Search Products" id='excel_upload' > 
    </div>
    <hr/>
    <div class="form-group">

        <div class="input-group">
            <div class="input-group-addon required">Product Name</div>
            <input type="text" class="form-control" id="product_name" placeholder="Product Name">   
        </div>
        
        <div id="product_quantity_div" class="input-group">
            <div class="input-group-addon required" id="current_product_quantity" style="font-size: 18px" title="Current Quantity">0.0</div>
            <select id="product_quantity_type" style="width:20%;margin-right: 10px" class="form-control">
                <option value="increase">Increase By</option>
                <option value="decrease">Decrease By</option>
            </select>
            <input type="number"  id="product_quantity" placeholder="Quantity added/removed" value="0" style="width:79%" class="form-control">
        </div>
        <div class="input-group">
            <div class="input-group-addon required">Category</div>
            <input type="text" class="form-control" id="product_category" placeholder="Product Category">   
        </div>
        
        <div class="input-group">
            <div class="input-group-addon required">Sub Category</div>
             <input type="text" class="form-control" id="product_sub_category" placeholder="Product Sub Category">   
        </div>
        
        <div class="input-group">
            <div class="input-group-addon required">Buying Unit Cost</div>
            <input type="number" class="form-control" id="product_bp_unit_cost" placeholder="Buying Unit Cost">
        </div>
        
        <div class="input-group">
            <div class="input-group-addon required">Selling Unit Cost</div>
            <input type="number" class="form-control" id="product_sp_unit_cost" placeholder="Selling Unit Cost">
        </div>
        
        
        <div class="input-group">
            <div class="input-group-addon">Low Stock Limit</div>
            <input type="number" class="form-control" id="product_reminder_limit" placeholder="Product Reminder Limit"> 
        </div>
        
        <div class="input-group">
            <div class="input-group-addon">Expiry Date</div>
            <input type="date" class="form-control" id="product_expiry_date"  readonly="readonly">
        </div>
        
        <div class="input-group">
            <div class="input-group-addon">Description</div>
             <input type="text" class="form-control" id="product_narration" placeholder="Product Description"> 
        </div>
        
        <div class="input-group">
            <div class="input-group-addon">Parent Product</div>
            <input type="text" class="form-control" id="product_parent" placeholder="Parent Product">
        </div>
        
        <div class="input-group">
            <div class="input-group-addon">Maximum Discount</div>
            <input type="number" class="form-control" id="max_discount" placeholder="Maximum Discount" value="0">
        </div>
        
        <div class="input-group">
            <div class="input-group-addon">Tax Percentage</div>
            <input type="number" class="form-control" id="tax" placeholder="Tax Percentage" value="0">
        </div>
        
        <div class="input-group">
            <div class="input-group-addon">Commission</div>
            <input type="number" class="form-control" id="commission" placeholder="Commission Value" value="0">
        </div>

    </div>

    <div class="input-group button_area">
        <input type="button" id="create_product_btn" value="Create Product" class="btn"/>
        <input type="button" id="update_product_btn" value="Update Product" class="btn"/>
        <input type="button" id="delete_product_btn" value="Delete Product" class="btn"/>
        <input type="button" id="supplier_product_btn" value="Suppliers" class="btn"/>
    </div>

</div>
