<div class="card">
    <h3>Suppliers</h3>
    <div class="input-group">
        <input type="text" class="form-control" id="search_suppliers" placeholder="Search Suppliers">
        <div class="input-group-addon search" id="search_link"><img src="img/search.png" alt="Search Suppliers" ></div>
    </div>
    <div id="error_space_admin" class="error" ></div>
    <hr/>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon required">Suppliers Name</div>
            <input type="text" class="form-control" id="supplier_name" placeholder="Suppliers Name">   
        </div>
        
        <div class="input-group">
            <div class="input-group-addon">Phone Number</div>
            <input type="text" class="form-control" id="phone_number" placeholder="Phone Number">
        </div>
        
        <div class="input-group">
            <div class="input-group-addon">Email Address</div>
            <input type="text" class="form-control" id="email_address" placeholder="Email Address">
        </div>
        
        <div class="input-group">
            <div class="input-group-addon">Postal Address</div>
            <input type="text" class="form-control" id="postal_address" placeholder="Postal Address">
        </div>
        
        <div class="input-group">
            <div class="input-group-addon">Company Website</div>
             <input type="text" class="form-control" id="company_website" placeholder="Company Website">
        </div>
        
        <div class="input-group">
            <div class="input-group-addon">Contact Name</div>
            <input type="text" class="form-control" id="contact_person_name" placeholder="Contact Person Name">
        </div>
        
        <div class="input-group">
            <div class="input-group-addon">Contact Phone</div>
            <input type="text" class="form-control" id="contact_person_phone" placeholder="Contact Person Phone">
        </div>
        
        <div class="input-group">
            <div class="input-group-addon">City</div>
            <input type="text" class="form-control" id="city" placeholder="City">
        </div>
        
        <div class="input-group">
            <div class="input-group-addon">Country</div>
            <select class="form-control" id="country" ></select>
        </div>

    </div>
    <div class="input-group button_area">
        <input type="button" id="save_supplier_btn" value="Create Supplier" class="btn"/>
        <input type="button" id="update_supplier_btn" value="Update Supplier" class="btn"/>
        <input type="button" id="delete_supplier_btn" value="Delete Supplier" class="btn"/>
    </div>

</div>
